* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
a:hover {
    color: rgb(229, 226, 236);
}

body{
    background: rgb(163, 185, 163);
}

.wrapper{
    width: 95vw;
    height: 95vh;
    background: rgb(230, 235, 226);
    display: flex;
    margin: 2vh auto;
    flex-direction: column;
    border-radius: 10px;
}
.wrapper h1 {
    text-align: center;
    display: block;
    width: 95vw;
    height: 10vh;
    margin: 2vh auto;
}
#boxes {
    display: flex;
    flex-direction: row;
    padding: 1vh 1vw;
    margin: 0 auto;
    height: 80vh;
}
.big_box {
    width: 28vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    color: greenyellow;
    border: 1px solid black;
    margin: 0px 3px;
}
.big_box ol {
    color: darkblue;
    font-size: 2em;
}
.small_box {
    width: 8vw;
}
.title {

    font-weight: bold;
    display: flex;
    flex-direction: column;
    border-bottom: 1px dotted darkblue;
}
.title h2 {
    display: block;
    text-align: center;
}
.myList {
    font-size: 1em;
    flex-grow: 1;
    max-height: 600px;
    overflow: auto;
}


.myList ol {
    margin: 5px auto;
    padding:0;
}
.myList ol li {
    display: block;
    text-align: center;
    padding-left: 1vw;
    padding-right: 0;
}
.myList h3 {
    color: royalblue;
}
.myList ul {
    width: 25vw;
    margin: 10px auto
}
.myList ul input {
    width: 20vw;
    height: 5vh;
    font-size: 1em;

}
.sum {
    height: 8vh;
    border-top: 1px dotted red;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.sum:first-child {
    align-self: flex-start;
}
.sum h2 {
    display: block;
    text-align: center;
}
#save_btn {
    margin: 10px auto 10px auto;
}
.my_button {
    border-radius: 5px;
}
.my_button:hover {
    background: rgb(105, 47, 240);
    color:white;
}
#quantity_list,#value_list {
    list-style-type: none;
}

.wrapper > h1:first-of-type {
    display: block;
    padding: 2.5vh 0 2.5vh 0;
    margin-top: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}

.footer {
    width: 95vw;
    height: 10vh;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.footer h2 {
    display: block;
    padding-left: 1vw;
    margin: 10px 10px 10px 10px;
}

.small_border_radius {
    border-radius: 5px;
}
.medium_purple_bg {
    background: rgb(105, 47, 240);
}
.pale_white {
    color:rgb(185, 185, 245);
}



.slide-bck-center {
	-webkit-animation: slide-bck-center 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: slide-bck-center 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
 @-webkit-keyframes slide-bck-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(-400px);
              transform: translateZ(-400px);
    }
  }
  @keyframes slide-bck-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
    }
    100% {
      -webkit-transform: translateZ(-400px);
              transform: translateZ(-400px);
    }
  }
  
@media only screen and (max-width : 1250px) {
    #boxes {
        padding: 0;
    }
    .sum {
        flex-direction: row;
        font-size: 1em;
        height: 9vh;
        margin-bottom: 0;
    }
    .sum h2 {
        
        font-size: 1.2em;
    }
    .title h2 {
        font-size: 1em;
    }
}
@media only screen and (max-width : 1000px) {
    .big_box {
        width: 24vw;
    }
    .sum {
        height: 6vh;
    }
    .small_box {
        width: 12vw;
    }
    .myList {
        width: 25vw;
    }
    .myList ul {
        margin: 1vh auto;
        width: 25vw;
    }
    .myList ul li {
        margin: 0 30px;
    }
    .myList ul input {
        width: 18vw;
    }
    .myList ul {
        padding: 0;
    }
}
@media only screen and (max-width : 800px) {
    body {
        margin: 0;
    }
    .wrapper {
        margin: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        border-radius: 0;
    }
    .wrapper > h1:first-of-type {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .wrapper h1 {
        width: 100vw;
    }
    #boxes {
        width: 100vw;
        flex-direction: column;
        margin: 0;
        height: 100vh;
    }
    .big_box {
        width: 100vw;
        margin-bottom: 1vh;
        height: 25vh;
        flex-direction: row;
        border-radius: 0;
    }
    .title {
        width: 10vw;
        justify-content: center;
    }
    .sum {
        height: 25vh;
        width: 11vw;
        flex-direction: column;
    }
    .myList {
        width: 100vw;
        height: 25vh;
        max-height: 30vh;
    }
    .footer {
        width: 100vw;
        border-radius: 0;
    }
}
0

